<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GensTech</title>
  </head>
  <table width="100%" style="border-spacing:0;width:100%;max-width:728px;background-color:#ffffff;font-family:&quot;Inter&quot;,sans-serif;margin:0 auto;color:#282e3e;padding-top:40px;box-sizing:border-box">
			<tbody>
			{{!-- <tr>
				<td class="m_-4948872488812167670column" style="padding:0;padding-left:20px;padding-right:20px">
					<div class="m_-4948872488812167670header__logo" style="margin-bottom:16px;text-align:left;width:170px;height:48px">
						<img src="" alt="" style="width:100%;height:100%;border:0;object-fit:contain;margin-right:12px" class="CToWUd" data-bit="iit">
					</div>
				</td>
			</tr> --}}
			<tr>
				<td class="m_-4948872488812167670column" style="padding:0;padding-left:20px;padding-right:20px">
					<div class="m_-4948872488812167670title" style="font-size:28px;font-style:normal;font-weight:500;line-height:36px;border:0;color:#282e3e;letter-spacing:-0.56px;padding-bottom:32px;border-bottom:1px solid #f5f6fa">Bạn sắp hoàn thành đăng ký!</div>
				</td>
			</tr>
			<tr>
				<td class="m_-4948872488812167670column m_-4948872488812167670welcome" style="padding:0;padding-left:20px;padding-right:20px;padding-top:32px">
					<div style="padding-bottom:24px;font-size:14px;font-style:normal;font-weight:400;line-height:20px;border:0;color:#282e3e">
						<p style="margin:0;padding:0;padding-bottom:16px">Cảm ơn bạn đã đăng ký GensTech!</p>
						<div style="">
							Mã xác thực của bạn là
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td height="20" class="m_-4948872488812167670column" style="padding:0;padding-left:20px;padding-right:20px">
					<div style="font-size:14px;font-style:normal;font-weight:400;line-height:20px;border:0;color:#282e3e;padding:8px 0">
						<div style="background: #53c66e; width: fit-content; padding: 15px 30px; font-size: 20px; color: #fff; border-radius: 31px; font-weight: 600; font-family: unset; word-spacing: 8px;">
							{{otp}}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td height="20" class="m_-4948872488812167670column m_-4948872488812167670signature" style="padding:0;padding-left:20px;padding-right:20px;padding-top:24px;padding-bottom:32px;font-size:14px;font-style:normal;font-weight:400;line-height:20px;border:0;color:#282e3e">
					<div>Thân mến,</div>
					<div>GensTech Team</div>
				</td>
			</tr>
			<tr>
				<td class="m_-4948872488812167670column m_-4948872488812167670footer" style="padding:24px 20px;padding-left:20px;padding-right:20px;background-color:#fafafc;border-top:1px solid #f5f6fa">
					<table width="100%" style="border-spacing:0">
						<tbody>
						<tr>
							<td style="padding:0">
								<div class="m_-4948872488812167670footer__policy" style="font-size:12px;font-style:normal;font-weight:400;line-height:20px;border:0;color:#656d83;padding-bottom:20px">
									<div style="display:inline-block">
										<a href="https://gensi.vn/policy">
											<span>Điều khoản sử dụng</span>
											<span style="color:#e8eaef;margin:0 12px;width:1px;display:inline-block">|</span>
										</a>
									</div>
									<div style="display:inline-block">
										<a href="https://gensi.vn/policy">
											<span>Chính sách bảo mật</span>
											<span style="color:#e8eaef;margin:0 12px;width:1px;display:inline-block">|</span>
										</a>
									</div>
									<div style="display:inline-block">
										<a href="https://gensi.vn/supports">Trung tâm hỗ trợ</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding:0">
								<div style="font-size:12px;font-style:normal;font-weight:400;line-height:20px;border:0;color:#656d83;padding-bottom:32px">
									<div>GensTech JSC Việt Nam.</div>
									<div style="margin-top:6px">Bản quyền ©2023 GensTech JSC.</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding:0">
								<div>
									<a href="">
										<img src="https://ci6.googleusercontent.com/proxy/XWIob3_pqQnYN_ErLerCcPLK-Dn5Zk5ZJdD1Yy069fjh5NqYeMqwnAveuxDxoyQM_6KeN1LQHt3yKzMf3D2Ro2MxCgcC=s0-d-e1-ft#https://public-media.cleeksy.com/mail/facebook.png" alt="" style="border:0;object-fit:contain;width:20px;height:20px" class="CToWUd" data-bit="iit">
									</a>
									<a href="">
										<img src="https://ci6.googleusercontent.com/proxy/AKJMi_sTRRy9t2mYdQlImhTRW8DgGDpGfke7-r0R5mPfIqRlgq6qsvEI7g8WKTFnq1gxXS2w-UmrFRpHHz2LaVq7LYU=s0-d-e1-ft#https://public-media.cleeksy.com/mail/youtube.png" alt="" style="border:0;object-fit:contain;width:20px;height:20px" class="CToWUd" data-bit="iit">
									</a>
									<a href="">
										<img src="https://ci4.googleusercontent.com/proxy/5lRkQWYNDaEOwtGcr5-B3YqXoeIhj5VvswgH6R2TdTk44AsWt2iUT49giWry_8cVOLQQFtB3nJAHmD98t1eLS4cPQfOCRw=s0-d-e1-ft#https://public-media.cleeksy.com/mail/instagram.png" alt="" style="border:0;object-fit:contain;width:20px;height:20px" class="CToWUd" data-bit="iit">
									</a>
									<a href="">
										<img src="https://ci4.googleusercontent.com/proxy/y3R-2bAfoNGZ7EuRVfRe9sbd3IiS7DjdNb6wzxvIOHutXxury9wj06-NdwFioCi8nfOY9RkUpMeWEVTLlogC0glhlRKQ=s0-d-e1-ft#https://public-media.cleeksy.com/mail/shopping.png" alt="" style="border:0;object-fit:contain;width:20px;height:20px" class="CToWUd" data-bit="iit">
									</a>
									<a href="">
										<img src="https://ci5.googleusercontent.com/proxy/4ePxrE43C1SIq0blfk8xlhoXLcAah2UfMmtw3O15447prktku0uQSoF2prBPxGpMN5eltUsacr2RgenyPwrJKrjrUPrX=s0-d-e1-ft#https://public-media.cleeksy.com/mail/linkedin.png" alt="" style="border:0;object-fit:contain;width:20px;height:20px" class="CToWUd" data-bit="iit">
									</a>
								</div>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
</html>
