/* Gilroy Thin */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Thin Italic */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Thin Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Gilroy Light */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Light Italic */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Italic */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Medium Italic */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Gilroy Semibold */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Semibold Italic */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy SemiBold Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Bold Italic */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Gilroy XBold */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy XBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Gilroy XBold Italic */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy XBold Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Gilroy Heavy */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
    font-family: 'Gilroy', 'Segoe UI', 'Roboto', sans-serif !important;
}
* {
  font-family: 'Gilroy', 'Segoe UI', 'Roboto', sans-serif !important;
}
body {
  font-family: 'Gilroy', 'Segoe UI', 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

