/* Gilroy fonts with performance optimization - WOFF2 format */

/* Gilroy Regular - Most used */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Regular.woff2") format("woff2"),
       url("../fonts/SVN-Gilroy Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Medium - UI elements */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Medium.woff2") format("woff2"),
       url("../fonts/SVN-Gilroy Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Gilroy SemiBold - UI elements */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy SemiBold.woff2") format("woff2"),
       url("../fonts/SVN-Gilroy SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Bold - Headings */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Bold.woff2") format("woff2"),
       url("../fonts/SVN-Gilroy Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
    font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif !important;
}
* {
  font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif !important;
}
body {
  font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
