/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Gilroy SemiBold */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* UTM Aristote */
@font-face {
  font-family: "UTM Aristote";
  src: url("../fonts/UTM-Aristote.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Gilroy', 'Segoe UI', 'Roboto', sans-serif !important;
}
* {
  font-family: 'Gilroy', 'Segoe UI', 'Roboto', sans-serif !important;
}
body {
  font-family: 'Gilroy', 'Segoe UI', 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}
.font_utm-aristote {
  font-family: 'UTM Aristote', 'Gilroy', 'Segoe UI', 'Roboto', sans-serif !important;
}
